.header{

    background-repeat: repeat;
    background-position: left;
    padding: 4%;
}

body {
    /*background-color: #343a40;*/
    background-image: url("../img/jungle.jpg");
    background-repeat: no-repeat;
    background-color: black;
    background-position: center;
    background-position-y: 80px;

}

/*VECI CO SU SPOJENE S NAV-BAROM*/

.navbar-nav {
    margin-right: 25px;
    margin-left: 20px;
}

.nav-item {
    margin-right: 10px;
}

nav {
    border-bottom: 1px solid grey;
}

.navbar-nav .nav-item .nav-link {
    color: white;
}


.logo {
    width: 30px;
}



/*VECI CO SU POD NAV-BAROM*/
.underBar {
    margin-top: 50px;
}

.underBar{
    text-align: center;
}


/*VECI SPOJENE S FORMULAROM*/
/*.form-row, .form-group{
    margin-left: 23px;
    margin-right: 5px;
}
*/


.btn {
    background-color: dimgray;
    border-color: black;
}

/* TEXTY*/


h1 {
    color: whitesmoke;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    margin: 50px;
}

p {
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.loremIpsum {
    color: whitesmoke;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

/*KONTAJNERY*/

.container {
    margin-top: 50px;
    margin-inside: 50%;
}

.textUnForm {
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.errorMessage {  /*vypis textu v kontajnery*/
    color: red;
    margin-top: 2px;
    text: small;
}

.blok {
    max-width: 50%;
    margin: auto;
    background-color: rgba(52,58,64, 0.65);
    border-style: solid;
    border-radius: 15px;
}

.col-12 {
    margin-bottom: 10px;
}

.bkgrPst {
    margin: 5%;
    background-color: rgba(52,58,64, 0.75);
    border-style: solid;
    border-radius: 15px;
    text-align: center;
}

.liunl {
    height: 25px;
    margin-left: 5%;
}

.like {
    background:none;
    border:none;
    margin:0;
    padding:0;
    cursor: pointer;
    color: green;
    font-weight: bold;
}

.unlike {
    background:none;
    border:none;
    margin:0;
    padding:0;
    cursor: pointer;
    color: darkred;
    font-weight: bold;
}

form .like {
    float: left;
    margin-right: 10px;

}

form .unlike {
    float: left;
    margin-left: 10px;
}

.usrNm {
    color: #1a202c;
    margin-right: 10px;
    font-weight: bolder;
}

.date {
    color: lightgrey;

}










